<ion-tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="home">
      <ion-icon
        [color]="currentTab == 'home' ? 'bank-green' : 'bank-gray'"
        [name]="currentTab == 'home' ? 'home' : 'home-outline'"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="card">
      <ion-icon
        [color]="currentTab == 'card' ? 'bank-green' : 'bank-gray'"
        [name]="currentTab == 'card' ? 'card' : 'card-outline'"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="transaction">
      <ion-icon
        [color]="currentTab == 'transaction' ? 'bank-green' : 'bank-gray'"
        [name]="currentTab == 'transaction' ? 'pie-chart' : 'pie-chart-outline'"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon
        [color]="currentTab == 'setting' ? 'bank-green' : 'bank-gray'"
        [name]="currentTab == 'setting' ? 'settings' : 'settings-outline'"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
