<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="avatar">
      <img src="../../../assets/image/avatar-sm.jpg" />
      <ion-label> Radu Prisca </ion-label>
    </div>
  </section>
  <section class="settings">
    <ion-list lines="full" mode="ios">
      <ion-item>
        <ion-label class="settings-item" slot="start"> Pin Code </ion-label>
        <div slot="end" class="setting-right-item">
          <ion-toggle color="bank-green" checked="true"></ion-toggle>
        </div>
      </ion-item>
      <ion-item>
        <ion-label class="settings-item" slot="start">
          Use Bio-Security
        </ion-label>
        <div slot="end" class="setting-right-item">
          <ion-toggle color="bank-green" checked="true"></ion-toggle>
        </div>
      </ion-item>
      <ion-item>
        <ion-label class="settings-item" slot="start">
          Change Password
        </ion-label>
        <div slot="end" class="setting-right-item">
          <span slot="end"> **** </span>
        </div>
      </ion-item>
      <ion-item button>
        <ion-label class="settings-item" slot="start"> Get Help </ion-label>
      </ion-item>
    </ion-list>
  </section>

  <section class="ion-padding">
    <div>
      <ion-button fill="clear" color="bank-green" strong="true">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-button>
    </div>
  </section>
</ion-content>
