ion-title {
  color: var(--lo-green);
}

ion-segment {
  --background: var(--lo-green);
}

ion-segment-button {
  --color: var(--white);
  --color-checked: var(--lo-green);
}

.transactions {
  min-height: 20rem;
  background: var(--bg-hi);
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .transaction-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1.3rem;

    .transaction-type {
      width: 2.6rem;
      height: 2.6rem;
      background: #ffffff;
      box-shadow: 0px 3px 6px rgb(3 181 170 / 4%);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
    }
  }

  .list-title,
  .transaction-title,
  .transaction-amount {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--text-green);
  }

  .list-title {
    margin-bottom: 1rem;
    display: block;
  }
  .transaction-title,
  .transaction-amount {
    color: var(--lo-green);
  }

  .transaction-amount {
    font-size: 1rem;
  }

  .transaction-date {
    color: var(--text-green);
    font-size: 0.9rem;
  }

  ion-list {
    --ion-item-background: transparent;
    ion-item {
      --border-style: dashed;
      --border-color: var(--mid-green);
      --padding-bottom: 1rem;
      --padding-top: 1rem;
    }
  }
}
