<ion-header class="ion-no-border">
  <ion-toolbar color="bank-green" mode="md">
    <div class="ion-padding-start welcome-header">
      <span>Welcome</span>
      <ion-title class="ion-no-padding">{{user}}</ion-title>
    </div>

    <div slot="end" mode="ios" class="ion-padding-end avatar">
      <img src="../../../assets/image/avatar-sm.jpg" id="click-trigger"/>
    </div>

    <ion-popover trigger="click-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding"><button (click)="logout()">Logout</button></ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="accounts">
    <div class="neo-swiper-holder">
      <swiper
        [config]="config"
        (slideChange)="onSlideChange($event)"
        class="neo-slider"
      >
        <ng-template swiperSlide *ngFor="let slide of slides">
          <div class="account-card">
            <div class="account-card_inner">
              <span class="account-title">{{slide.title}}</span>
              <p class="account-balance">
                {{format(slide.balance, slide.currency)}}
              </p>
              <span class="account-number">{{slide.account}}</span>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
    <div class="account-actions">
      <div
        *ngFor="let action of accountActions; let i = index"
        class="button-holder"
      >
        <ion-button
          mode="ios"
          [color]="action.color"
          (click)="handleAction(action)"
        >
          <ion-icon [name]="action?.icon"></ion-icon>
        </ion-button>
        <ion-label> {{action.label}} </ion-label>
      </div>
    </div>
  </section>

  <section class="transactions">
    <ion-label class="list-title"> Transactions </ion-label>

    <ion-list lines="full" mode="ios">
      <ion-item *ngFor="let item of transactions">
        <div slot="start" class="transaction-meta">
          <div class="transaction-type">
            <img
              [src]="item.from == user? '../../../assets/arrow_up.svg' : '../../../assets/arrow_down.svg'"
            />
          </div>
          <div>
            <ion-label class="transaction-title"> {{item.title}} </ion-label>
            <span class="transaction-date">{{item.date | date : 'dd.MM.yyyy HH:mm'}}</span>
            <span class="transaction-date"> {{item.from == user ? 'to '+item.to : 'from '+item.from}}</span>
          </div>
        </div>

        <div class="transaction-amount" slot="end">
          <span
            >{{item.from != user? "" : "-"}}{{format(item?.amount,
            item.currency)}}
          </span>
        </div>
      </ion-item>
    </ion-list>
  </section>
  <!-- <div class="bottom-list"></div> -->

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Login</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Username:</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password:</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button (click)="login()">Login</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isSendModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Send</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setSendModalOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Amount:</ion-label>
          <ion-input type="number" [(ngModel)]="transaction.amount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>To:</ion-label>
          <ion-input type="text" [(ngModel)]="transaction.to"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Payment details:</ion-label>
          <ion-input type="text" [(ngModel)]="transaction.title"></ion-input>
        </ion-item>

        <ion-button (click)="sendMoney()">Send</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
