<ion-header class="ion-no-border">
  <ion-toolbar color="bank-green" mode="md">
    <div class="ion-padding-start welcome-header">
      <span>Welcome</span>
      <ion-title class="ion-no-padding">Kal-El A.</ion-title>
    </div>

    <div slot="end" mode="ios" class="ion-padding-end avatar">
      <img src="../../../assets/image/avatar-sm.jpg" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="accounts">
    <div class="neo-swiper-holder">
      <swiper
        [config]="config"
        (slideChange)="onSlideChange($event)"
        class="neo-slider"
      >
        <ng-template swiperSlide *ngFor="let slide of slides">
          <div class="account-card">
            <div class="account-card_inner">
              <span class="account-title">{{slide.title}}</span>
              <p class="account-balance">
                {{format(slide.balance, slide.currency)}}
              </p>
              <span class="account-number">{{slide.account}}</span>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
    <div class="account-actions">
      <div
        *ngFor="let action of accountActions; let i = index"
        class="button-holder"
      >
        <ion-button
          mode="ios"
          [color]="action.color"
          (click)="handleAction(action)"
        >
          <ion-icon [name]="action?.icon"></ion-icon>
        </ion-button>
        <ion-label> {{action.label}} </ion-label>
      </div>
    </div>
  </section>

  <section class="transactions">
    <ion-label class="list-title"> Transactions </ion-label>

    <ion-list lines="full" mode="ios">
      <ion-item *ngFor="let item of transactions">
        <div slot="start" class="transaction-meta">
          <div class="transaction-type">
            <img
              [src]="item.type == 'credit'? '../../../assets/arrow_up.svg' : '../../../assets/arrow_down.svg'"
            />
          </div>
          <div>
            <ion-label class="transaction-title"> {{item.title}} </ion-label>
            <span class="transaction-date"
              >{{item.date | date: 'MMM d, y'}}</span
            >
          </div>
        </div>

        <div class="transaction-amount" slot="end">
          <span
            >{{item.type == 'credit'? "" : "-"}}{{format(item?.amount,
            item.currency)}}
          </span>
        </div>
      </ion-item>
    </ion-list>
  </section>
  <!-- <div class="bottom-list"></div> -->
</ion-content>
