/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~swiper/scss";
@import "~swiper/scss/pagination";
@import "~swiper/scss/autoplay";

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fcfcfc;
  width: 40px;
  border-radius: 4px;
  opacity: 1;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.33);
  opacity: 1;
}

.neo-slider {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
  }
}

.card-slider {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 1.5rem;
  }
}
// .swiper-pagination {
//   text-align: left;
//   padding-left: 20px;
// }

ion-tab-bar {
  position: relative;
  width: 90%;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 30px;
  padding-bottom: 0;
  border: 1px solid rgba(2, 52, 54, 0.08);
  height: 80px;
  overflow: hidden;
  box-shadow: 0px -5px 10px rgba(3, 181, 170, 0.08);
}

ion-tabs {
  background-color: var(--bg-hi);
}

ion-toolbar,
ion-content {
  --background: transparent;
}
